################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ai-finance-app/.vs/ai-finance-app
