@import "./styles/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  @apply font-sans;
  background-color: rgb(var(--color-bg-app));
  color: rgb(var(--color-text-primary));
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
